/* ==========================================================================
   Archives
  ========================================================================== */
.archives {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #424650 1px solid;
    word-break: break-word;
    hyphens: auto;
}
.archives .archives-content::before,
.archives .archives-content::after {
    content: " ";
    position: absolute;
}
.archives .archives-content::after {
    top: 60px;
    bottom: 52px;
    width: 2px;
    margin-left: 3px;
    background: #a874e4;
    z-index: 1;
}
.archives .archives-top {
    position: absolute;
    top: 19px;
    width: 10px;
    height: 10px;
    margin-left: -1px;
    background: #555;
    opacity: 0.5;
    border: 1px solid #fff;
    border-radius: 50%;
}
.archives .archives-total {
    position: relative;
    top: 4px;
    left: 20px;
}
.archives .archives-item {
    position: relative;
    margin: 30px 0;
    overflow: hidden;
    z-index: 2;
}
.archives .archives-year {
    font-weight: bold;
    margin: 10px 20px;
}
.archives .archives-year::before {
    content: " ";
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    margin-left: -1px;
    margin-top: 6px;
    background: #555;
    opacity: 0.5;
    border: 1px solid #fff;
    border-radius: 50%;
}
.archives-info {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: border;
}
.archives-info .archives-info-meta {
    margin-left: 20px;
    padding: 4px 0;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
}
.archives-info .archives-info-meta::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    background: #bbb;
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}
.archives-info .archives-info-meta:hover {
    border-bottom: 1px dashed #2C3F51;
}
.archives-info .archives-info-meta:hover::before {
    background: #009a61;
}
.archives-info .archives-info-meta a {
    color: #009a61;
    text-decoration: none;
}
.archives-info time {
    margin-right: 4px;
    color: #999;
    display: inline-block;
}