/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */

/* Hides shit */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

/* Centres vertically yo. (IE8+) */
.vertical {
    display: table-cell;
    vertical-align: middle;
}

/*back to top*/
.back-top {
    position: fixed;
    right: 28px;
    bottom: 28px;
    z-index: 999;
    width: 56px;
    display: none;
}
.back-top:focus,
.back-top .btn:focus,
.back-top .btn:active:focus {
    outline: none;
}
.back-top .btn {
    margin-top: 2px;
    height: 56px;
    display: block;
    padding: 0;
    width: 100%;
    opacity: .4;
    border-radius: 4px;
}
.btn-inverse {
    background: #666;
    color: #FFF !important;
}
.btn-minty {
    background: #2bbc8a;
}
.back-top .btn:hover {
    background: #2bbc8a;
    opacity: .9;
    color: #FFF !important;
}
.back-top .btn:active {
    opacity: .6;
}
.back-top .btn i {
    position: relative;
    top: -1px;
}

/*copy to clipboard*/
.clippy {
    margin-top: -3px;
    position: relative;
}

.copy-btn[disabled] .clippy {
    opacity: .3;
}

pre {
    position: relative;
    overflow: visible
}

.copy-btn {
    -webkit-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    opacity: 0;
    padding: 6px 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 4px;
    outline: none;
    background: #666;
    &:hover {
        border-color: #51a7e8;
    }
}
pre:hover .copy-btn, pre .copy-btn:hover {
    opacity: 0.4;
}
@media screen and (max-width:768px) {
    pre .copy-btn {
        opacity: 0.4;
    }
}